.password {
    background-color: white;
    width: 60%;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding: 20px 30px;
    border-radius: 5px;
    border-bottom: 8px solid white;
}

h1, h2, h3, h4 { margin: 0; }

.config {
    background-color: white;
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    border-radius: 5px;
}

.style {
    display: flex;
    justify-content: space-between;
}

.config-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.slider {
    display: flex;
}

.slider p {
    margin-right: 10px;
}

.checkbox {
    display: flex;
    margin-top: 10px;
}

.button {
    color: white;
    font-size: 20px;
    background-color: rgb(41, 126, 196);
    --bs-clr: rgb(34, 108, 168);
    box-shadow: 0px 5px 0px var(--bs-clr);
    border: none;
    padding: 10px 20px;
    margin-left: 5px; margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .button:hover {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px var(--bs-clr);
  }
  .button:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  .center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  }