html, body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    font-family: 'Lato';
    transition: 0.4s;
}

.title-bar {
    background-color: var(--title-bar-background);
    padding: 5px 10px;
    align-items: center;
    transition: 0.4s;
    justify-content: space-between;
    height: 50px;
    display: flex;
    border-bottom: 1px solid var(--title-bar-border);
}

a {
    color: var(--text-color);
}

.box {
    margin-left: 20px;
}

.number-box {
    padding: 5px;
    width: 100px;
    transition: 0.4s;
    background-color: var(--input-background);
    border-radius: 5px;
    border: 1px solid var(--input-color);
    color: var(--input-color);
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.output {
    margin-top: 50px;
    margin-left: 20px;
}

.theme-light {
    --background-color: rgb(155, 155, 155);
    --text-color: black;
    --title-bar-background: rgb(226, 226, 226);
    --title-bar-border: black;
    --button-background: white;
    --button-border: #000000c5;
    --button-shadow: #00000016;
    --input-background: white;
    --input-color: black;
    --password-background: rgb(240, 240, 240);
    --password-border: rgba(53, 53, 53, 0.486);
}

.theme-dark {
    --background-color: rgb(29, 28, 28);
    --text-color: white;
    --title-bar-background: rgb(44, 44, 44);
    --title-bar-border: white;
    --button-background: rgb(41, 41, 41);
    --button-border: #fcfcfcc5;
    --button-shadow: #ffffff16;
    --input-background: black;
    --input-color: white;
    --password-background: rgb(41, 40, 40);
    --password-border: rgba(255, 255, 255, 0.486);
}

.theme {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: larger;
}

